form {
    width : 25%;
    height : 45%;
    margin-left: auto;
    margin-right: auto;
    border : 0;
    cellspacing : 40;
    align : center;
    background-color : #8A0886;
    border: 8px solid #8A0886;
    /*background : rgba(0,0,0,0.5);*/
    opacity : 0.7;
}

#type {
    width : 300px;
    height : 60px;
    margin-left: 15%;
    margin-right: 15%;
    border : 0;
    outline : 0;
    background : transparent;
    border-bottom : 3px solid white;
    color : white;
    font-size : 25px;
    cellspacing : 40;

}

input::-webkit-input-placeholder{
    font-size : 20px;
    line-height : 6;
    color : grey;
}

#bouton_login {
    position : relative;
    top : 100px;
    margin-left: 15%;
    margin-right: 15%;
    width : 250px;
    background-color : #0A0A2A;
    height : 35px;
    color : white;
    font-size : 20px;
    align : center;
}


#bouton_fichier {
    position : relative;
    top : 50px;
    margin-left: 15%;
    margin-right: 15%;
    background-color : #0A0A2A;
    width : 250px;
    height : 35px;
    color : white;
    font-size : 20px;
    align : center;

}
