

form {
    width : 25%;
    height : 28%;
    margin-left: auto;
    margin-right: auto;
    border : 0;
    cellspacing : 40;
    align : center;
    background-color : #8A0886;
    border: 8px solid #8A0886;
    /*background : rgba(0,0,0,0.5);*/
    opacity : 0.7;

}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #0A0A2A;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color:  #8A0886;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}


img.avatar {
    width: 40%;
    border-radius: 50%;
}


.container {
    padding: 16px;
    margin-left: auto;
    margin-right: auto;

}


span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
