form {
    width : 100%;
    height : 50%;
    margin-left: auto;
    margin-right: auto;
    border : 0;
    cellspacing : 40;
    align : center;
    background-color : #8A0886;
    border: 8px solid #8A0886;
    /*background : rgba(0,0,0,0.5);*/
    opacity : 0.7;

}



.container {
    padding: 16px;
    margin-left: auto;
    margin-right: auto;

}
