.sweetcapucherouge{
    top: 100px;
    height: -50vh;
    display: flex;
    float: left;
    position: relative;

}

fieldset{
    top: 100px;
    height: -50vh;


    width: 100%;
    /*height: 20vh;*/
    /*background-color: white;*/
    background : linear-gradient(#0A0A2A, #8A0886);


}

button{
    width: auto;
    padding: 5px 15px;
    background-color: #0A0A2A;
    color:white;
}
/*
.sweetcapuchebleu{
    top: 100px;
    height: -50vh;
    display: flex;
    float: left;
    position: relative;

}

.sweetcapucheperso{
    top: 100px;
    height: -50vh;
    display: flex;
    float: left;
    position: relative;
}
*/
/*
fieldset {
    margin-left: auto;
    margin-right: auto;
    align : center;

}
*/

a {
    text-decoration: none;




}

