*{
    margin: 0;
    padding : 0;
    font-family : Century Gothic;

}
body, html {
    height: 100%;

}
body {
    background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(fond.jpg);
    height : 100vh;
    background-size: cover;
    background-position: center;


}
header {
    /*background-image : linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(fond.jpg);*/
    background : linear-gradient(#0A0A2A, #8A0886);
    height : 10vh;
    background-size: cover;
    background-position: center;

}
/*
.separateur {
    position : absolue;
    top : 50%;
    right : -30%;
    transform : tranlate(-50%,-50%);
    color : #fff;
    border : 1 px solide linear-gradient(#0A0A2A, #8A0886);
    padding-top : 50px;
    padding-right : 30px;
    padding-bottom : 50px;
    padding-left : 80px;
    background : linear-gradient(#0A0A2A, #8A0886);
    opacity : 1;


}
*/
ul {
    float : right;
    list-style-type : none;
    margin-top: 25px;
}
ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
}


ul li.active a {
    background-color: #fff;
    color: #000;
}


.logo img {
    float: left;
    width: 150px;
    height: auto;
}



.my_page {
    max-width: 1800px;
    margin: auto;
}

.titre {
    position : relative;
    top : 35%;
    right : -40%;
    transform : tranlate(-50%,-50%);
    color : #fff;
}


.titre h1 {

    color : #fff;
    font-size : 70px;
}

footer {
    position : absolute;
    top : 2900px;
    bottom: 0;
    width: 100%;
    flex-shrink : 0;
    border-top : 1px dashed #000;
    width : 100%;
    /*background : #f1f1f1;*/
    background : linear-gradient(#0A0A2A, #8A0886);
    height : 20vh;
    background-size: cover;
    background-position: center;

    color : #333;

}

/*
img {
    width : 40px;
}
*/

.contenu-footer {
    width : 1200px;
    margin : 0 auto;
    display : flex;
    justify-content : center;
    align-items : flex-start;
    font-size : 20px;
    padding : 50px 0 100px;
}

.contenu-footer {
    font-size : 25px;
    padding-bottom : 20px;
    padding : 5 px;
    float : right;


}

.active ul {
    margin : 0;
    padding : 0;
}

.active li {
    list-style : none;
    position : relative
}
.active ul li a {
    display : block;
}


.active ul  {
    position : absolute;
    visibility : hidden;
}

.active ul:hover li {
    visibility : visible;
}

