

form {
    width : 30%;
    height : 20%;
    margin-left: auto;
    margin-right: auto;
    border : 0;
    cellspacing : 40;
    align : center;
    background-color : #8A0886;
    border: 8px solid #8A0886;
    /*background : rgba(0,0,0,0.5);*/
    opacity : 0.7;
}

.container {
    position : relative;
    top : 20px;
    margin-left: 15%;
    margin-right: 15%;
    border : 0;
    outline : 0;
    background : transparent;
    border-bottom : 3px solid white;
    color :  #0A0A2A;
    font-size : 17px;
    cellspacing : 40;


}
.registerbtn {
    position : relative;
    top : 0px;
    margin-left: 15%;
    margin-right: 15%;
    width : 250px;
    background-color : #0A0A2A;
    height : 35px;
    color : white;
    font-size : 20px;
    align : center;

}


