
h3 {
    position : relative;
    top : -850px;
    color : #fff;
    font-size : 30px;
    right : -60%;

}

.description {
    position : relative;
    top : -850px;
    color : #fff;
    font-size : 20px;
    right : -60%;
}

.titre_description {
    position : relative;
    top : -850px;
    color : #fff;
    font-size : 20px;
    right : -60%;
}

.prix_description {
    position : relative;
    top : -850px;
    color : #fff;
    font-size : 20px;
    right : -60%;

}

.bouton_achat {
    position : relative;
    top : -850px;
    margin-left: auto;
    margin-right: auto;
    background-color : #0A0A2A;
    height : 35px;
    color : #fff;
    font-size : 20px;
    right : -60%;
    align : center;



}

hr {
    position : relative;
    top : -850px;
    color : #fff;
    font-size : 20px;
    right : -60%;
}

img {
    background : linear-gradient(#0A0A2A, #8A0886);
}

